<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>

    <div class="center">
        <h1 class="title"><strong>Kbtu Core</strong></h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required [(ngModel)]="loginObj.username">
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" required [(ngModel)]="loginObj.password">
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <!-- <button (click)="onLogin()" type="submit" value="Log In"></button> -->
            <input (click)="onLogin()" type="submit" value="Log In">
            <div class="signup_link">
                <a routerLink='/signup'>Sign up</a>
            </div>
        </form>
    </div>

</body>

</html>