/*body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(120deg, #b7f6df, #a4ccfd);
    background: linear-gradient(150deg, #b7f6df, #94accd);
    /*height: 100vh;
    min-height: 100%;
    height: auto;
    overflow: hidden;
}
.div_gif{
    opacity: 0.05;
    
    position: fixed;
    /* left: 70%; 
    width: 100%;
    height: 150%;
    margin-top: -10%;
    overflow: hidden;
    
    /* background-image: url("./../../assets/images/ocean2.gif"); 
    background-repeat: no-repeat;
    background-image:
      /*linear-gradient(to right, #b7f6df, rgba(233, 9, 177, 0.73)),
      url('./../../assets/images/ocean2.gif');
    -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ 
  
  }

*/
#article{
    width:100%;
    position: relative;
    margin:auto;
    background: linear-gradient(150deg, #effbf6,#e6eef9 );
    padding: 20px;
    border-radius: 40px;
}
#title{
    font-size: 2.3rem;
    line-height: 1.005;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-variant:small-caps;
}
#image{
    margin-top: auto;
    margin-bottom: 3%;
}