<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>something in the way uuuu</title>
</head>

<body>

<div *ngIf="loaded">
    <!--<button><a href="/list">Return back</a></button>-->
   <!-- <button (click)="deleteAlbum(art.id)">Delete</button>-->

    <!-- <input type="text" [(ngModel)] = "newAlbum.title"><br/> -->
    <!--<button (click) = "changeAlbum(newAlbum.title, art.id, art)">Change post</button>-->

    <!--<h2 *ngIf="art">Album detail #{{art.id}}</h2>-->

    <!--<h4 *ngIf="art">{{art.title}}</h4>-->
    <!-- <p>{{album.body}}</p> -->
</div>

<h3 *ngIf="!art">data1 is not loaded(I wrote it in code)</h3>
<h3 *ngIf="!loaded">data lenta is not loaded(I wrote it in code)</h3>

<h3 *ngIf="art" id="cat" >Category: {{art.category}}</h3>
<div  id="article">
    
    <span *ngIf="art">{{art.author}} </span>   <span *ngIf="art"> {{art.date}}</span>
    <h1 id="title" *ngIf="art">{{art.title}}</h1>
    <div  id="head-buttons-div"> 
        <button *ngIf="art" mat-button id="like" class="head-button" routerLink="/login">{{art.likes}}<mat-icon class="top-icon">favorite</mat-icon></button>
        <button *ngIf="art" mat-icon-button id="loginb" class="head-button" routerLink="/login"><mat-icon class="top-icon">edit</mat-icon></button>
        <span><button *ngIf="art" mat-icon-button class="head-button"><mat-icon class="top-icon">delete</mat-icon></button></span>
    </div>
    <div id="separator"></div>
    <img *ngIf="art" id="image" src={{art.img}} width='70%' >
    <div id="article-text">
        <p *ngIf="art" class="article-p">{{art.content}}</p>
    </div>
</div>

</body>

</html>