@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-spacer {
    flex: 1 1 auto;
}
.title1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background: #3f51b5;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}



