<div id="top-bar">




    <mat-sidenav-container fullscreen>
        <!-- closed or opened -->
      <mat-sidenav [opened]="false"  #sidenav opened position="start" >
        
      
        <mat-nav-list>
        <mat-list-item class="separater" mat-button (click) = "sidenav.toggle()" routerLink="/">
                  <mat-icon class="icon">home</mat-icon ><span class="textt">Home</span>
              </mat-list-item>
      <mat-expansion-panel class="separater" [class.mat-elevation-z0]="true">

          <mat-expansion-panel-header class="textt">
              Schools
          </mat-expansion-panel-header>
          <mat-nav-list *ngFor="let fac of faculties">
            
              <a mat-list-item routerLink="#">
                  <mat-icon class="icon">{{fac.icon}}</mat-icon><span class="textt">{{fac.name}}</span>
              </a>
          </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="separater" [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header class="textt">
              Kind
          </mat-expansion-panel-header>
          <mat-nav-list class="textt">
              <a class="textt" mat-list-item routerLink="#">Tutorial</a>
              <a mat-list-item routerLink="#">News</a>
              <a mat-list-item routerLink="#">Article</a>
          </mat-nav-list>
      </mat-expansion-panel>
      <!--
      <mat-nav-list>
        <a class="create" mat-list-item routerLink="/creator">Create</a>
      </mat-nav-list>-->
  </mat-nav-list>




      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar  id="arslan1" class="mat-elevation-z3">
          <button mat-icon-button (click)="sidenav.toggle()"  aria-label="Example icon-button with menu icon">
            <mat-icon class="top-icon">menu</mat-icon>
          </button>

          <button mat-button  routerLink="/"  class="center-logo">
          </button>

          <button mat-icon-button id="loginb" routerLink="/login"><mat-icon class="top-icon">account_circle</mat-icon></button>
              
      </mat-toolbar>
        <div class="main-content">
          
        </div>
        <app-main-page></app-main-page>
        <!--<router-outlet></router-outlet>-->
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
