/*.super{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(120deg, #16b4b4, #a32a52); 
    /*background: linear-gradient(120deg, #8ce5dc, #9ab9f1);
    background: linear-gradient(150deg, #b7f6df, #94accd);
    overflow: hidden;
}
.div_gif{
  opacity: 0.05;
  
  position: fixed;
  /* left: 70%; 
  width: 100%;
  height: 150%;
  margin-top: -10%;
  overflow: hidden;
  
  /* background-image: url("./../../assets/images/ocean2.gif"); 
  background-repeat: no-repeat;
  background-image:
    /*linear-gradient(to right, #b7f6df, rgba(233, 9, 177, 0.73)),
    url('./../../assets/images/ocean2.gif');
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ 

}
.img_gif{
  width: 100%;
  height: 100%;
}

#parentContainer {
    display: flex;
    align-items: center;
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
*/
.input_filter{
    /* border: 6px 6px 6px 6px;
    border-style: outset solid;
    border: 6px 6px 6px 6px;
    border-style: outset solid; */
    /* border: 6px outset rgb(50, 150, 217); */
    border: #80abc7;
    height: 40px;
    width: 97.7%;
    padding-left: 20px;
    font-size: 22px; 
    margin-bottom: 30px;
    font-weight: 400;
    border-radius: 20px;
}
.div_center{/*
    background: linear-gradient(120deg, #97d2f4, #5c96dd);*/
    position: relative;
    height: 400px;
    border-radius: 40px;
    outline: 3px solid rgb(160, 175, 201);
    
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.div_title{
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    border-radius:40px;
    display: block;
}
.div_center:hover {
  outline: 4px solid rgb(177, 200, 240); /* Цветная рамка */
   }

.text_title{
    /* background-repeat: no-repeat, no-repeat; */
    max-width: 70%;
    max-height: 30%;
    /*-webkit-font-smoothing: antialiased;*/
    background-color:rgba(30, 30, 30, 0.5);
    position:absolute;
    padding: 10px;
    /*text-align: justify;*/
    bottom:0;
    left:0;
    margin:0;
    /* position:absolute;
    top:80%; */
    /* color: #487284; */
    color: white;
    border-bottom-left-radius: 40px;
    font-size: 2.3rem;
    line-height: 1.005;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-variant:small-caps;
}
.img_title{

    /* margin-left:10px; */
    /* margin-top:100px; */
    position: absolute;
    /* top: 10px; */
    border-color:rgb(160, 175, 201);
    border-radius: 40px;
    border-style: groove ;
    max-width: 500px;
    max-height: 400px;
}
.fab{
  position: fixed;
  transform: scale(1.2);
  bottom: 2rem;
  right: 4rem;
  color: #a6f0e0;
  background-color: #5b81b5;
}


p:hover{
    outline: 1px solid rgba(160, 175, 201,70); /* Цветная рамка */
}
a{
    text-decoration: none;
}






  
  .flexbox {
    /* background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .search {
    display: flex;
    margin: 20px;
  }
  
  .search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
  }
  
  .search > div:after {
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
  }
  
  .search > div > input {
    color: white;
    font-size: 24px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.3s;
  }
  
  .search > div > input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
  
  .search > div > input:focus::placeholder {
    opacity: 1;
  }
  
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 450px;
  }






  .button-86 {
    top: 10px;
    all: unset;
    width: 1px;
    height: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }


  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }

  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
     background: #28282d; 
    border-radius: 10px;
  }

  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }

  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 100%;
    height: 100%;
  }

  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }

  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }