
.div_main{
    /* display: flex; */
}
#div_in{
    display: flex;
    position: absolute;
    border: 3px solid rgb(49, 58, 81);
    float: left;
    width: 50%;
    height: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
#div_out{
    left:10px;
    position: relative;
    float: right;
    border: 3px solid black;
    width: 50%;
    min-height: 300px;
    height: 100%;
}
#input_1{
    
}
#button_1{
    /* background-repeat: no-repeat, no-repeat; */
    position: relative;
    background-image: url("./../../assets/images/images.jpeg");
    /* border-style: groove;
    background-color:azure; */
    height: 100%;
    width: 20%;
    -webkit-font-smoothing: antialiased;
    background-color: #c2fbd7;
    border-top-right-radius: 61px;
    border-bottom-right-radius: 61px;
    color: green;
    padding: 7px 20px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}
.mat_in_size{
    width: 80%;
    height: 99%;
}
.div_buttons{
    margin-bottom:10px;
}
.button_above{

    margin-left: 20px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    /* padding: 7px 20px; */
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}
