<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="center">
        <h1 class="title"><strong>Kbtu Core</strong></h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" [(ngModel)]="newUser">  
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field" >
                <input type="password" [(ngModel)]="newPassword">
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field" >
                <input type="password">
                <span></span>
                <label>Confirm Password</label>
            </div>
            <div class="txt_field">
                <input type="imagelink" required>
                <span></span>
                <label>Image Link</label>
            </div>
            <button (click)="onSignup()">Sign In</button>
        </form>
    </div>

</body>

</html>